<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<!--********** Application settings *************-->
		<add key="OraConnectString" value="Data Source=Topup;Persist Security Info=True;User ID=chungnn;Password=chungnn;Unicode=True"/>
    <add key="AppPath" value="D:\Working\Projects\EPaySoap\Sources 2\"/>
    <add key="AppData_FileName" value="DataList.xml"/>
		<add key="AppRSAPrivateKeyFilePath" value="my_pkcs12.pfx"/>
		<add key="AppRSAPrivateKeyPassword" value="thangtc"/>
		<add key="AppPasswordKey" value="chungnn"/>
		<!--Log load transaction type 1:text file; 2:Database; 3:all-->
		<add key="AppTransactionLogType" value="1"/>
		<add key="AppTimeout" value="300"/>
		<!--*********** Vinaphone settings *************-->
		<add key="VinaPhoneTimeout" value="300"/>
		<add key="VinaPhoneUserName" value="vnptepay"/>
		<add key="VinaPhonePassword" value="123456"/>
		<add key="VinaPhoneAgentMsIsdl" value="0917007444"/>
    <add key="VinaPhoneAgentMPIN" value="123456"/> 
    <!--********** Viettel settings *************-->
		<add key="ViettelTimeout" value="300"/>
		<add key="ViettelConfig_ISOFile" value="ViettelConfig_ISOFile.xml"/>
		<add key="ViettelCerFilePath" value="public.cer"/>
		<add key="ViettelServerAddress" value="192.168.0.116"/>
		<!--********** 192.168.0.116; 8583 *************-->
		<add key="ViettelServerPort" value="8583"/>
		<add key="ViettelClientID" value="vnptepay"/>
		<!--********** Mobifone settings *************-->
		<add key="MobifoneTimeout" value="300"/>
    <add key="MobifoneUserName" value="0933045719"/>
    <add key="MobifonePassword" value="619485"/>
		<!--********** Other settings *************-->
		<add key="UMarketSCImplService" value="http://192.168.0.200:8081/UMarketSCImplService.asmx"/>
	<add key="mobiEz.UMarketSCImplService" value="http://10.151.9.214:8081/services/umarketsc"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<webServices>
			<protocols>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies></compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
		</authentication>
	</system.web>
</configuration>
