<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <configSections>    
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MPS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>  
  <connectionStrings>
    <add name="MPS.Properties.Settings.QLBHConnectionString" connectionString="Data Source=.;Initial Catalog=QLBH;User ID=qlbh;Password=123456"
      providerName="System.Data.SqlClient" />
    <add name="MPS.Properties.Settings.MPSDBConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Data\MPSDB.mdf;Integrated Security=True;User Instance=True" />
  </connectionStrings>  
  <applicationSettings>
    <MPS.Properties.Settings>
      <setting name="clsMessage" serializeAs="String">
        <value>Navy</value>
      </setting>
      <setting name="clsError" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="Help1" serializeAs="String">
        <value>mnuContent</value>
      </setting>
      <setting name="DataSource" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="Catalog" serializeAs="String">
        <value>QLBH</value>
      </setting>
      <setting name="UserID" serializeAs="String">
        <value>mps</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>nnc123456</value>
      </setting>
    </MPS.Properties.Settings>
  </applicationSettings>
</configuration>